# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# System files
.DS_Store
Thumbs.db

# Git & IDE
.git
.gitignore
.idea/
.vscode/

# Data and model folders (since they are mounted as volumes)
products/
model/
